body{
/*background-image: url(sis.jpg) ;*/
/*background-size: cover;*/
/*background-repeat: no-repeat;*/
background-color: green;}
.out{
/*	border: 2px solid blue;*/
	background-color: black;
	
	padding-top: 20%;
	padding-bottom: 20%;
}
.out2{
	/*border: 2px solid blue;*/
background-color: green;
	
	padding-top: 20%;
	padding-bottom: 20%;

}
p
{
color: green;
}
.col{
   
   	/*border: 2px solid blue;	*/
	
}
h1{
	
	font-size: 250%;
font-family: 'Lacquer', sans-serif;
}
.btn-sm{
	color:black;
	margin-left: 35%;
	margin-right:  35%;
}
.inner{
		
}

